Repository twitter/rsc, pull requests merged in 2019-01, with the labels that each got.

#298 Stop failing on empty inputs
  rsc/src/main/scala/rsc/Compiler.scala
  rsc/src/main/scala/rsc/report/Messages.scala
Labels: Infrastructure

#299 Rewrite outliner
  docs/compiler.md
  project/Build.scala
  rsc/src/main/scala/rsc/Compiler.scala
  rsc/src/main/scala/rsc/classpath/Classpath.scala
  rsc/src/main/scala/rsc/gensym/Gensyms.scala
  rsc/src/main/scala/rsc/outline/Atoms.scala
  rsc/src/main/scala/rsc/outline/Env.scala
  rsc/src/main/scala/rsc/outline/Indexer.scala
  rsc/src/main/scala/rsc/outline/Outliner.scala
  rsc/src/main/scala/rsc/outline/Resolutions.scala
  rsc/src/main/scala/rsc/outline/Scheduler.scala
  rsc/src/main/scala/rsc/outline/Scopes.scala
  rsc/src/main/scala/rsc/outline/Symtab.scala
  rsc/src/main/scala/rsc/outline/Synthesizer.scala
  rsc/src/main/scala/rsc/outline/Todo.scala
  rsc/src/main/scala/rsc/outline/Unknown.scala
  rsc/src/main/scala/rsc/outline/package.scala
  rsc/src/main/scala/rsc/pretty/PrettyAtom.scala
  rsc/src/main/scala/rsc/pretty/PrettyCompiler.scala
  rsc/src/main/scala/rsc/pretty/PrettyEnv.scala
  rsc/src/main/scala/rsc/pretty/PrettyResolution.scala
  rsc/src/main/scala/rsc/pretty/PrettySymtab.scala
  rsc/src/main/scala/rsc/pretty/PrettyTodo.scala
  rsc/src/main/scala/rsc/pretty/PrettyWork.scala
  rsc/src/main/scala/rsc/pretty/TreeStr.scala
  rsc/src/main/scala/rsc/pretty/Weights.scala
  rsc/src/main/scala/rsc/report/Messages.scala
  rsc/src/main/scala/rsc/scalasig/Mtab.scala
  rsc/src/main/scala/rsc/scalasig/Writer.scala
  rsc/src/main/scala/rsc/semanticdb/Converter.scala
  rsc/src/main/scala/rsc/semanticdb/Defns.scala
  rsc/src/main/scala/rsc/semanticdb/Eligibility.scala
  rsc/src/main/scala/rsc/semanticdb/Infos.scala
  rsc/src/main/scala/rsc/semanticdb/Lits.scala
  rsc/src/main/scala/rsc/semanticdb/Params.scala
  rsc/src/main/scala/rsc/semanticdb/Prefixes.scala
  rsc/src/main/scala/rsc/semanticdb/Scopes.scala
  rsc/src/main/scala/rsc/semanticdb/Templates.scala
  rsc/src/main/scala/rsc/semanticdb/Tpts.scala
  rsc/src/main/scala/rsc/semanticdb/Writer.scala
  rsc/src/main/scala/rsc/symtab/Desugars.scala
  rsc/src/main/scala/rsc/symtab/Envs.scala
  rsc/src/main/scala/rsc/symtab/Outlines.scala
  rsc/src/main/scala/rsc/symtab/Scopes.scala
  rsc/src/main/scala/rsc/symtab/Services.scala
  rsc/src/main/scala/rsc/symtab/Symtab.scala
  rsc/src/main/scala/rsc/syntax/Dupe.scala
  rsc/src/main/scala/rsc/syntax/Trees.scala
Labels: Docs, Index, Outline, Scalasig, SemanticDB

#301 Reimplement self outlining
  examples/semantic/src/main/scala/269.scala
  examples/semantic/src/main/scala/285.scala
  rsc/src/main/scala/rsc/outline/Outliner.scala
  rsc/src/main/scala/rsc/outline/Scheduler.scala
  rsc/src/main/scala/rsc/outline/Scopes.scala
  rsc/src/main/scala/rsc/pretty/PrettyWork.scala
  rsc/src/main/scala/rsc/semanticdb/Templates.scala
  rsc/src/main/scala/rsc/symtab/Desugars.scala
  rsc/src/main/scala/rsc/util/SemanticdbUtil.scala
Labels: Outline, SemanticDB

#303 Fix the fallout after the recent refactorings
  check/src/main/scala/rsc/checkoutline/Checker.scala
  examples/semantic/src/main/scala/302.scala
  rsc/src/main/scala/rsc/outline/Scopes.scala
  rsc/src/main/scala/rsc/semanticdb/Eligibility.scala
  rsc/src/main/scala/rsc/semanticdb/Prefixes.scala
  rsc/src/main/scala/rsc/symtab/Scopes.scala
Labels: Check, Outline, SemanticDB

#311 Upgrade to the latest versions of Scalameta and Scalafix
  bin/scalafix
  build.sbt
Labels: Infrastructure

#313 Fix Rsc-compiled overloaded extension methods (fix #312)
  examples/dependencies/src/main/scala/312.scala
  examples/semantic/src/main/scala/312.scala
  rsc/src/main/scala/rsc/scalasig/Pickle.scala
Labels: Scalasig

#321 Add Win Wang to <developers/>
  build.sbt
Labels: Build

#324 Fix checkbytecode not checking whether there are missing files
  check/src/main/scala/scala/tools/jardiff/JarDiff.scala
Labels: Check

#326 Partial support for super accessors (fix #100)
  examples/dependencies/src/main/scala/100.scala
  examples/semantic/src/main/scala/100.scala
  rsc/src/main/scala/rsc/scalasig/Pickle.scala
Labels: Scalasig

#327 Experiments with emitting macroImpls
  .scalafmt.conf
  check/src/main/scala/rsc/checkbase/DiffUtil.scala
  rsc/src/main/scala/rsc/scalasig/Entries.scala
  rsc/src/main/scala/rsc/scalasig/Key.scala
  rsc/src/main/scala/rsc/scalasig/Mtab.scala
  rsc/src/main/scala/rsc/scalasig/Pickle.scala
  rsc/src/main/scala/rsc/scalasig/Stdlib.scala
  rsc/src/main/scala/rsc/semanticdb/Infos.scala
  scalasig/scalasig/src/main/scala/scala/meta/internal/scalasig/DataPrettifiers.scala
  scalasig/scalasig/src/main/scala/scala/meta/internal/scalasig/ScalasigCodec.scala
  scalasig/scalasig/src/main/scala/scala/meta/internal/scalasig/ScalasigHighlevel.scala
  scalasig/scalasig/src/main/scala/scala/meta/internal/scalasig/Tags.scala
  scalasig/scalasig/src/main/scala/scala/meta/scalasig/highlevel/Entities.scala
  scalasig/scalasig/src/main/scala/scala/meta/scalasig/lowlevel/Entities.scala
  tests/src/main/scala/rsc/tests/RscTests.scala
  tests/src/test/resources/scalasig/scala/Predef.highlevel
Labels: Check, Scalasig

#334 Fix spurious DEPRECATED flag when compiling against traits with deprecated vals (fix #333)
  examples/dependencies/src/main/scala/333.scala
  examples/semantic/src/main/scala/333.scala
  rsc/src/main/scala/rsc/scalasig/Pickle.scala
  rsc/src/main/scala/rsc/scalasig/Stdlib.scala
Labels: Scalasig

#336 Further work around for #274
  check/src/main/scala/rsc/checkoutline/Checker.scala
Labels: Check

#338 Rewrite Env.resolve
  examples/dependencies/src/main/scala/229a.scala
  examples/dependencies/src/main/scala/229c.scala
  examples/semantic/src/main/scala/229a.scala
  examples/semantic/src/main/scala/229b.scala
  examples/semantic/src/main/scala/229c.scala
  rsc/src/main/scala/rsc/Compiler.scala
  rsc/src/main/scala/rsc/outline/Env.scala
  rsc/src/main/scala/rsc/outline/Indexer.scala
  rsc/src/main/scala/rsc/outline/Outliner.scala
  rsc/src/main/scala/rsc/outline/Resolutions.scala
  rsc/src/main/scala/rsc/outline/Root.scala
  rsc/src/main/scala/rsc/outline/Scopes.scala
  rsc/src/main/scala/rsc/pretty/PrettyRoot.scala
Labels: Classpath, Infrastructure, Outline

#339 No longer create multiple scopes for the same type (fix #337)
  examples/semantic/src/main/scala/337.scala
  rsc/src/main/scala/rsc/outline/Outliner.scala
  rsc/src/main/scala/rsc/symtab/Scopes.scala
Labels: Outline

#343 Upgrade to Scalameta 4.1.1
  build.sbt
Labels: Build

#344 Ascribed inferred type arguments for inits in objects
  .scalafix.conf
  project/Build.scala
  scalafix/input/src/main/scala/rsc/tests/BetterRscCompat.scala
  scalafix/output/src/main/scala/rsc/tests/BetterRscCompat.scala
  scalafix/rules/src/main/scala/rsc/rules/RscCompat.scala
  scalafix/rules/src/main/scala/rsc/rules/pretty/SemanticdbPrinter.scala
  scalafix/rules/src/main/scala/rsc/rules/semantics/Scopes.scala
  scalafix/rules/src/main/scala/rsc/rules/syntax/Trees.scala
  scalafix/rules/src/main/scala/scalafix/internal/v0/DocumentIndex.scala
  scalafix/rules/src/main/scala/scalafix/internal/v0/DocumentSymbols.scala
  scalafix/rules/src/main/scala/scalafix/internal/v0/SemanticdbRule.scala
Labels: Scalafix

#348 Lookup names in a scope's package object, two-way type alias equivalence check
  scalafix/input/src/main/scala/rsc/tests/BetterRscCompat.scala
  scalafix/input/src/main/scala/rsc/tests/package.scala
  scalafix/input/src/main/scala/rsc/tests/testpkg/package.scala
  scalafix/output/src/main/scala/rsc/tests/BetterRscCompat.scala
  scalafix/output/src/main/scala/rsc/tests/package.scala
  scalafix/output/src/main/scala/rsc/tests/testpkg/package.scala
  scalafix/rules/src/main/scala/rsc/rules/semantics/Scopes.scala
  scalafix/rules/src/main/scala/rsc/rules/semantics/Symtabs.scala
Labels: Scalafix

#350 Reenable rsc/examples/semantic/src/main/scala/94.scala (fix #306)
  examples/semantic/src/main/scala/94.scala
Labels: Scalasig

#351 Check that non-static inheritance is supported (fix #97)
  examples/semantic/src/main/scala/97.scala
Labels: Language

#352 Check that selecting from a with type is supported (fix #188)
  examples/semantic/src/main/scala/188.scala
Labels: Outline

#356 Pickle information necessary to support exhaustivity checks (fix #101)
  examples/dependencies/src/main/scala/101.scala
  examples/semantic/src/main/scala/101.scala
  rsc/src/main/scala/rsc/scalasig/Key.scala
  rsc/src/main/scala/rsc/scalasig/Mtab.scala
  rsc/src/main/scala/rsc/scalasig/Pickle.scala
  rsc/src/main/scala/rsc/semanticdb/Infos.scala
  rsc/src/main/scala/rsc/semanticdb/Writer.scala
Labels: Scalasig, SemanticDB

#349 Ascribe types to bodies of polymorphic default parameters (fix #332)
  scalafix/input/src/main/scala/rsc/tests/BetterRscCompat.scala
  scalafix/output/src/main/scala/rsc/tests/BetterRscCompat.scala
  scalafix/rules/src/main/scala/rsc/rules/RscCompat.scala
  scalafix/rules/src/main/scala/rsc/rules/pretty/SemanticdbPrinter.scala
  scalafix/rules/src/main/scala/rsc/rules/syntax/Trees.scala
Labels: Scalafix

#368 Fix crash on higher-kinded type parameters of implicit classes (fix #367)
  examples/semantic/src/main/scala/367.scala
  rsc/src/main/scala/rsc/outline/Synthesizer.scala
Labels: Outline

#370 Fix spurious illegal escape error in a valid multiline string (fix #369)
  examples/syntactic/src/main/scala/369.scala
  rsc/src/main/scala/rsc/scan/scala/Scanner.scala
Labels: Parse

#372 Fix crash when pickling case class value classes (fix #371)
  examples/semantic/src/main/scala/371.scala
  rsc/src/main/scala/rsc/scalasig/Pickle.scala
Labels: Scalasig
